:root * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    height: 100vh; 
    overflow-x: hidden;
}

.content {
    width: 200vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: margin-left 0.25s ease-in;
}

.content.pageTwo {
    margin-left: -100vw;
}

/* HOME PAGE */
.main {
    height: 100vh;
    padding: 25px;
    display: grid;
    grid-template-rows: 32px 2fr 3fr 1fr;
    justify-items: center;
    gap: 25px;
}

#search {
    padding: 5px;
    width: clamp(175px, 80vw, 275px);
}

.main header {
    display: grid;
    grid-template-rows: 1fr 2fr .75fr 1fr;
    justify-items: center;
}

.main header * {
    font-weight: 400;
    text-align: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.temp {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 90px;
}

.temp span {
    position: absolute;
    right: 0px; 
}

.conditions {
    font-size: 22px;
}

.high-low-humidity {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 7px;
}

.humidity {
    grid-column: 1 / span 2;
}

.hourly-conditions {
    margin-top: 25px;
    margin-bottom: -25px;
    width: max(55vw, 690px);
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.hour {
    width: 115px;
    height: 135px;
    border: 1px solid gray;
}

#ten-day {
    align-self: center;
}

.forecast {
}

@media only screen and (max-width: 740px) {
    .main {
        grid-template-rows: 32px 1fr 2fr 1fr;
    }
    .hourly-conditions {
        margin: 0;
        width: 45vw;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .hour {
        width: 100%;
    }
}