@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Nunito';
    color: white;
    transition: opacity .55s;
}

body {
    height: 100vh; 
    overflow-x: hidden;
}

.content {
    width: 200vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: margin-left 0.25s ease-in;
    background: rgb(14,157,255);
    background: linear-gradient(0deg, rgba(14,157,255,1) 0%, rgba(130,211,255,1) 100%);
}

.content.pageTwo {
    margin-left: -100vw;
}

.chevron {
    display: inline;
    width: 30px; 
}

/* HOME PAGE */
.main {
    height: 100vh;
    padding: 25px;
    display: grid;
    grid-template-rows: 40px 2fr 3fr 1fr;
    justify-items: center;
    gap: 25px;
}

#search {
    padding: 10px;
    width: clamp(175px, 80vw, 275px);
    outline: none;
    border: none;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: 700;
}

#search::placeholder {
    color: white;
    opacity: 0.6;
    font-weight: 700;
}

.loading {
    width: 75px;
    height: 75px;
    fill: white;
    transform: rotate(-90deg);
    animation: 1s loadAnimation infinite linear;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr .75fr 1fr;
    justify-items: center;
}

.header * {
    font-weight: 400;
    text-align: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.temp {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 90px;
}

.temp span {
    position: absolute;
    right: 0px; 
}

.conditions {
    font-size: 22px;
}

.high-low-humidity {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 7px;
}

.humidity {
    grid-column: 1 / span 2;
}

.hourly-conditions {
    margin-top: 25px;
    margin-bottom: -25px;
    width: max(55vw, 690px);
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.hour {
    width: 115px;
    height: 135px;
}

#ten-day {
    align-self: center;
    appearance: none;
    border: none;
    background: rgba(0, 0, 0, 0.15);
    padding: 10px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ten-day:hover {
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#ten-day .chevron {
    transform: rotate(-90deg);
}

.forecast {
}

.hidden {
    opacity: 0;
}

.out-of-flow {
    display: none;
}

@media only screen and (max-width: 740px) {
    .main {
        grid-template-rows: 32px 1fr 2fr 1fr;
    }
    .hourly-conditions {
        margin: 0;
        width: 45vw;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .hour {
        width: 100%;
    }
}

@keyframes loadAnimation {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(270deg);
    }
}