@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Nunito';
    color: white;
}

body {
    max-height: fit-content;
    overflow-x: hidden;
}

.content {
    width: 200vw;
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: margin-left 0.25s ease-in;
    background: rgb(14,157,255);
    background: linear-gradient(0deg, rgba(14,157,255,1) 0%, rgba(130,211,255,1) 100%);
}

.content.pageTwo {
    margin-left: -100vw;
}

.chevron {
    display: inline;
    width: 25px; 
}

/* HOME PAGE */
.main {
    position: relative;
    max-height: 100vh;
    padding: 25px;
    display: grid;
    grid-template-rows: 40px 2fr 3fr 1fr;
    justify-items: center;
    gap: 25px;
}

#search {
    padding: 15px;
    width: clamp(175px, 80vw, 275px);
    outline: none;
    border: none;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: 700;
}

#search::placeholder {
    color: white;
    opacity: 0.6;
    font-weight: 700;
}

.header, .loading, .hourly-conditions {
    transition: opacity 0.15s ease-in-out;
}

.loading {
    position: absolute;
    top: 90px;
    width: 75px;
    height: 75px;
    fill: white;
    transform: rotate(-90deg);
    animation: 1s loadAnimation infinite linear;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr .75fr 1fr;
    justify-items: center;
}

.header * {
    font-weight: 400;
    text-align: center;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.temp {
    position: relative;
    width: fit-content;
    height: 100%;
    font-size: 90px;
}

.temp span {
    position: absolute;
    right: -30px;
}

.conditions {
    font-size: 22px;
}

.high-low-humidity {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 7px;
}

.humidity {
    grid-column: 1 / span 2;
}

.hourly-conditions {
    margin-top: 25px;
    margin-bottom: -25px;
    width: max(55vw, 690px);
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.hour {
    width: 110px;
    height: 130px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
}

#ten-day {
    position: relative;
    align-self: center;
    appearance: none;
    border: none;
    background: rgba(0, 0, 0, 0.25);
    padding: 0 12px;
    height: 50px;
    font-size: 22px;
    font-weight: 800;
    border-radius: 15px;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.25s, opacity 0s;
}

#ten-day:hover {
    opacity: 1;
    cursor: pointer;
}

#ten-day .chevron {
    transform: rotate(-90deg);
}

.slideIn {
    animation: slideIn 0.25s;
}

.forecast {
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

@media only screen and (max-width: 740px) {
    .content, .main {
        max-height: fit-content;
    }

    .main {
        grid-template-rows: 40px 1fr 4fr 1fr;
    }
    .hourly-conditions {
        width: 45vw;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .hour {
        width: 100%;
    }
}

@keyframes loadAnimation {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(50px) rotate(-90deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) rotate(-90deg);
    }
}